{
    "active_broker": 0,
    "brokers": [
        {
            "name": "My Broker",
            "server": "",
            "login": 0,
            "password": "",
            "path": ""
        },
        {
            "name": "Slot 2 (Empty)",
            "server": "",
            "login": 0,
            "password": "",
            "path": ""
        },
        {
            "name": "Slot 3 (Empty)",
            "server": "",
            "login": 0,
            "password": "",
            "path": ""
        }
    ]
}
